/* #equipo{
    border: purple solid 5px;
}

#equipo > *:first-child{
    border: magenta solid 2px;
} */
    #equipo .titulo1{
    text-align: center;
    margin-bottom: 20px;    
    }

    #equipo .myCard-row{
        margin-top: 1%;
        border: transparent solid 2px; /* Para debuggear, lo puedes quitar */
        display: flex;
        width: 60%;
        margin-left: 20%;
    }
    #equipo .myCard-col{
        border: transparent solid 2px; /* Para debuggear, lo puedes quitar */
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #equipo .myCard-container{
        /* background-color: teal; */
        border-radius: 5px;
        width: 180px;
        height: 220px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        background: rgba(143,143,143,1);
        background: -moz-linear-gradient(top, rgba(143,143,143,1) 0%, rgba(89,89,89,1) 51%, rgba(56,56,56,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,143,143,1)), color-stop(51%, rgba(89,89,89,1)), color-stop(100%, rgba(56,56,56,1)));
        background: -webkit-linear-gradient(top, rgba(143,143,143,1) 0%, rgba(89,89,89,1) 51%, rgba(56,56,56,1) 100%);
        background: -o-linear-gradient(top, rgba(143,143,143,1) 0%, rgba(89,89,89,1) 51%, rgba(56,56,56,1) 100%);
        background: -ms-linear-gradient(top, rgba(143,143,143,1) 0%, rgba(89,89,89,1) 51%, rgba(56,56,56,1) 100%);
        background: linear-gradient(to bottom, rgba(143,143,143,1) 0%, rgba(89,89,89,1) 51%, rgba(56,56,56,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8f8f', endColorstr='#383838', GradientType=0 );
    }
    
    #equipo .myCard-header{
        /* background-color: tomato;    */
        margin-left: 24%;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .pefil{
        border-radius: 50px;
        width: 80px;
    }
                
    #equipo .myCard-body{
        /* color: white; */
        color: var(--myCard-body-color);
        text-overflow: clip;
        text-align: center;
        line-height: 1.5rem;
        font-weight: 500;
        margin-top: 20px;
        font-size: 16pt;
    }

    #equipo .myCard-footer{
        /* color: white; */
        color: var(--nav-a-color2);
        text-align: center;
        font-weight: 300;
        font-style: italic;
        font-size: 8pt;
        padding-top: 10px;
    }
    .myCard-row:hover{
        cursor: pointer;
    }
    .activo{
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 300ms, visibility 600ms;
         transition: opacity 300ms, visibility 600ms;

    }
    .hover{
        opacity: 0;
        visibility: hidden;
       
    }
    .myCard-back{
        opacity: 0;
        height: 0;
        margin-top: -170px;
        color: white;
        font-size: 8pt;
        font-weight: normal;
        visibility: hidden;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms; 
        text-align: center;  
    }

    .show{
        height: auto;
        opacity: 1;
        visibility: visible;
    }
