#nosotros > div:first-child > div:last-child{
    /* color: lightgray; */
    color: var(--nosotros-color);
    font-size: 16pt;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#nosotros{
	width: 100%;
	margin: 0;
	margin-top: 4%;
	background-color: transparent;
}
.img-square-wrapper img{
	object-fit: cover;
	object-position: 30% 0;
 	height: 28em;
 	width: 33em;
}

.card{
	background-color: #17161a;
	border: 0;
 }
.card-body h1{
	margin-top: 25%;
}
.card-body p{
	font-size: 14px;
}